<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="97b678">  <td>18/06/27 12:55:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseDriverUtil.readDataFromProperty()[pri:0, instance:testscripts.VerifyHomePage@685cb137]">&gt;&gt;readDataFromProperty</td> 
<td>&nbsp;</td>  <td>main@504527234</td>   <td></td> </tr>
<tr bgcolor="69717b">  <td>18/06/27 12:55:41</td>   <td>3876</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyHomePage.homepage()[pri:0, instance:testscripts.VerifyHomePage@685cb137]">homepage</td> 
  <td>main@504527234</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>18/06/27 12:55:47</td>   <td>9507</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseDriverUtil.closeBrowser()[pri:0, instance:testscripts.VerifyHomePage@685cb137]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@504527234</td>   <td></td> </tr>
</table>
