<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c4c875">  <td>18/06/21 09:39:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.readDataFromProperty()[pri:0, instance:testscripts.Area_of_Interst@42e26948]">&gt;&gt;readDataFromProperty</td> 
<td>&nbsp;</td>  <td>main@1340328248</td>   <td></td> </tr>
<tr bgcolor="69717b">  <td>18/06/21 09:39:28</td>   <td>5467</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Area_of_Interst.test()[pri:0, instance:testscripts.Area_of_Interst@42e26948]">test</td> 
  <td>main@1340328248</td>   <td></td> </tr>
<tr bgcolor="c4c875">  <td>18/06/21 09:39:41</td>   <td>18557</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.closeBrowser()[pri:0, instance:testscripts.Area_of_Interst@42e26948]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@1340328248</td>   <td></td> </tr>
<tr bgcolor="c4c875">  <td>18/06/21 09:39:42</td>   <td>19241</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.readDataFromProperty()[pri:0, instance:testscripts.Verify_Home_Page@57baeedf]">&gt;&gt;readDataFromProperty</td> 
<td>&nbsp;</td>  <td>main@1340328248</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>18/06/21 09:39:47</td>   <td>24593</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Verify_Home_Page.Verify()[pri:0, instance:testscripts.Verify_Home_Page@57baeedf]">Verify</td> 
  <td>main@1340328248</td>   <td></td> </tr>
<tr bgcolor="c4c875">  <td>18/06/21 09:39:49</td>   <td>26822</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.closeBrowser()[pri:0, instance:testscripts.Verify_Home_Page@57baeedf]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@1340328248</td>   <td></td> </tr>
<tr bgcolor="c4c875">  <td>18/06/21 09:39:50</td>   <td>27464</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.readDataFromProperty()[pri:0, instance:testscripts.Verify_Search_Page@343f4d3d]">&gt;&gt;readDataFromProperty</td> 
<td>&nbsp;</td>  <td>main@1340328248</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>18/06/21 09:39:55</td>   <td>31932</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Verify_Search_Page.search()[pri:0, instance:testscripts.Verify_Search_Page@343f4d3d]">search</td> 
  <td>main@1340328248</td>   <td></td> </tr>
<tr bgcolor="c4c875">  <td>18/06/21 09:40:03</td>   <td>39860</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.closeBrowser()[pri:0, instance:testscripts.Verify_Search_Page@343f4d3d]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@1340328248</td>   <td></td> </tr>
</table>
